@charset "UTF-8";

/*
paleta de cores
azul #123251
cinza #B8B8B8
dourado #BF9447
gelo #EFEEEC
*/

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body, html {
  min-height: auto;
  min-width: 780px;
}

section#relatorio {
  margin-top: 10px;
  width:770px;
  margin: auto;
  padding:10px;
}

.header {
  height: 95px;
  margin-top: 10px;
}

div#h {
  border: 1px solid black;
  padding: 5px;
  height: 52px;
}

div#header1 {
  float: left;
  width: 250px;
}

div#header2 {
  float: left;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
}

div#header3 {
  float: right;
  text-align: right;
  font-size: 17px;
  font-weight: bold;
}

.main {
  width: 100%;
  height: 1050px;
}

section#eletrica, section#mecanica {
  display: inline;
}

.half {
  float: left;
  width: 50%;
}

section#status {
  border: 1px solid black;
  font-size: 10.5px;
  font-weight: bold;
  padding: 0px;
  margin-top: 10px;
  width: 100%;
  height: 21px;
  display: inline-flex;
}

div#status1 {
  float: left;
  width: 50%;
  padding: 2px;
}

div#status2 {
  float: left;
  border-left: 1px solid black;
  width: 50%;
  padding: 2px;
}

section#ressalvas {
  border: 1px solid black;
  padding: 2px;
  width: 100%;
  font-size: 10.5px;
}

section#cliente {
  border: 1px solid black;
  padding: 5px;
  font-size: 17px;
  height: 80px;
}

table { 
  border-collapse:collapse;
  border-spacing:0;
  font-size: 10.5px;
  width: 100%;
  display:table;
  margin: auto;
}

table, td, th, .pends{
    border:1px solid black;
}

/* table.w3-half {
    width: 375;
} */

.w3-striped tbody tr:nth-child(even){ 
  background-color:#ececf8
}

table.z tr:nth-child(odd) {
  background-color:#fff
}

table.z tr:nth-child(even){
  background-color:#f0f0f3b2
}

.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover {
  background-color:#ccc
}

.w3-centered tr th,.w3-centered tr td, thead, th {
    text-align:center
}

table th {
  padding:0px 2px;
  display:table-cell;
  background-color:#ececf8;
}

table td {
  padding:0px 2px;
  display:table-cell;
}

#cab {
  border: 1px solid black;
  padding: 5px;
  height: 50px;
}

#verso {
  width:750px;
  margin: auto;
}

#pendencias {
  border: 1px solid black;
  font-size: 10.5px;
}

#versoObs {
  border: 1px solid black;
  font-size: 10.5px;
  padding: 5px;
  height: 100px;
  margin-top: 10px;
}

.bad {
  background-color: #dc3545;
  color: white;
  border-color: #dc3545;
}
  
.good {
  background-color: #198754;
  color: white;
}

.m_o_l {
  background-color: #ffc107;
}

.light-bad {
  background-color: #f8d7da;
  color: #842029;
  font-weight: bold;
}
  
.light-good {
  background-color: #d1e7dd;
  color: #0f5132;
  font-weight: bold;
}

.light-m_o_l {
  background-color: #fff3cd;
  color: #664d03;
  font-weight: bold;
}

div#buttonGroup {
  width:770px;
  margin: auto;
  padding:0px 0px 10px 10px;
}
